# basic project package
pytest==7.4.0
pytest-cov==4.1.0
black==23.7.0
isort==5.12.0
flake8==6.1.0
mypy==1.5.1

# langchain package
langchain>=0.0.267
python-dotenv>=1.0.0 

# openai, langchain-openai package
openai>=1.65.0
langchain-openai>=0.0.2

# langchain-core package
langchain-core>=0.0.267

httpx>=0.24.1
pydantic>=2.0.0
typing-extensions>=4.5.0
